.contentWrapper {
    min-height: 100vh;
    background-image: url('../../assets/cozy-christmas.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -50px center;
    /* background-position: top -80px center; */
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}