.contentWrapper {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;

  background-color: #004e3e;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/christmas-tree-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 1300px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 26px;
  }
}
